.leftCard{
    padding:10px;
    text-align:center;
    display:flex;
    
}

.comp1,.comp2,.comp3{
    text-align: center;
    height: 20vh;
    padding-top: 5vh;
}
.comp1{
    background-color: rgb(241, 141, 58);
    color: white;
}
.comp2{
    background-color: rgb(0, 0, 0);
    color: white;
}
.comp3{
    background-color: rgb(172, 9, 9);
    color: white;
}